[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/ucx"]
	path = extern/ucx
	url = git@github.com:openucx/ucx.git
[submodule "extern/flatbuffers"]
	path = extern/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "extern/librdkafka"]
	path = extern/librdkafka
	url = git@github.com:edenhill/librdkafka.git
[submodule "extern/hdrhistogram"]
	path = extern/hdrhistogram
	url = git@github.com:HdrHistogram/HdrHistogram_c.git
